@import 'app-styles/variables.scss';

.register-final-step-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  & > span {
    text-align: right;
    font-size: 36px;
    line-height: 40px;
    color: $primary;
    margin-bottom: 38px;
    max-width: 60%;
  }

  & > button {
    margin-bottom: 120px;
  }
}

@media (max-width: 900px) {
  .register-final-step-container {
    width: 60%;
    align-self: center;
    align-items: center;

    & > span {
      text-align: center;
      font-size: 30px;
      line-height: 32px;
      max-width: 80%;
      margin-top: 10%;
    }

    & > button {
      margin-top: 40px;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .register-final-step-container {
    width: 90%;
    padding-top: 20%;

    & > span {
      max-width: 100%;
    }
  }
}
