// Measures
$header-height: 80px !global;
$border-radius: 4px !global;

// Colors
$primary: #2888e0 !global;
$primary-light: #5fa4e4 !global;
$primary-dark: #1675ce !global;

$white: #ffffff !global;
$black: #000000 !global;
$gray: #666666 !global;
$light-gray: #bebebe !global;

$red: #cd1e5a !global;
$red-light: #da3f75 !global;
$red-dark: #a0093e !global;

$green: #32a04b !global;
