@import 'app-styles/variables.scss';

@mixin info-common-mixin {
  background-color: $white;
  width: 100%;
  padding: 14px 16px;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  font-size: 18px;
  color: $gray;
}

.credential-info-default {
  @include info-common-mixin();
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.credential-info-password-container {
  position: relative;
  width: 100%;
}

.credential-info-password {
  @include info-common-mixin();
  border: none;
  border-bottom: 1px solid $light-gray;
  position: relative;
}

.redential-info-password-icon {
  position: absolute;
  right: 10px;
  bottom: 50%;
  cursor: pointer;

  & svg {
    width: 28px;
    height: 28px;
    fill: $light-gray;
  }
}

.credential-info-area {
  @include info-common-mixin();
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  height: 100px;
  max-height: 100px;
  overflow-y: auto;
}
