@import 'app-styles/variables.scss';

@mixin drop-arrow-mixin {
  transition: 0.3s;
  margin: 0 12px;

  & svg {
    width: 28px;
    height: 28px;
    fill: $primary-light;
    cursor: pointer;
  }
}

@mixin content-mixin {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transform-origin: top;
  transform: scaleY(0);
  padding: 24px 20px;
  position: relative;
  border: 1px solid $light-gray;
  border-top: none;
  border-radius: 0 0 $border-radius $border-radius;
  margin-bottom: 28px;

  & > span {
    font-size: 20px;
  }
}

.media-row-wrapper {
  width: 80%;
}

.media-row-container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  border: 1px solid $primary;

  padding: 20px 16px;

  &:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 4px $primary-light;
  }

  & > div {
    &:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > span {
        font-size: 22px;
        margin-left: 30px;
      }
    }

    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.media-row-image-asset-container {
  width: 100px;

  & img {
    border-radius: $border-radius;
    width: 100%;
  }
}

.media-row-video-asset-container {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: $border-radius;
  box-shadow: 0px 0px 8px rgba(48, 48, 48, 0.15);
  background-color: $clear-gray;
}

.media-row-video-icon {
  & svg {
    width: 35px;
    height: 35px;
    fill: $primary;
  }
}

.media-row-document-icon {
  & svg {
    width: 50px;
    height: 50px;
    fill: $gray;
  }
}

.media-row-content-collapsed {
  @include content-mixin();
  height: 0;
  padding: 0;
}

.media-row-content-expanded {
  @include content-mixin();
  transition: transform 0.2s ease;
  transform: scaleY(1);
}

.media-row-arrow-down {
  @include drop-arrow-mixin();
}

.media-row-arrow-up {
  @include drop-arrow-mixin();
  transform: rotate(-180deg);
}

@media (max-width: 700px) {
  .media-row-wrapper {
    width: 100%;
  }
}