@import 'app-styles/variables.scss';

.create-credential-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.create-credential-heirs-content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 80px 10px 0;
  border-right: 1px solid $clear-gray;
}

.create-credential-form {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;

  & > div {
    width: 100%;
  }
}

.create-credential-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button {
    height: 100%;
  }
}

.create-credential-form-help-icon {
  & svg {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}

.create-credential-form-button {
  width: 45%;
  font-size: 22px;
}

.create-credential-help-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & > h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  & > span {
    font-size: 22px;
    line-height: 26px;
  }
}

.create-credential-help-button {
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
  margin-top: 26px;
}
