@import 'ui/styles/variables.scss';

@mixin eye-icon {
  & svg {
    width: 24px;
    height: 24px;
  }
}

.input-password-toggler {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.input-password-icon {
  @include eye-icon();

  & svg {
    fill: $gray;
  }
}

.input-password-icon-visible {
  @include eye-icon();

  & svg {
    fill: $primary;
  }
}
