@import 'app-styles/variables.scss';

@mixin option-mixin {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: $white;
  color: $primary;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    opacity: 0.8;
  }
}

.switch-container {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $primary;
  border-radius: $border-radius;

  & > div {
    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}

.switch-option {
  @include option-mixin();
}

.switch-selected-option {
  @include option-mixin();
  background-color: $primary;
  color: $white;
}
