@import 'ui/styles/variables.scss';

@mixin default-title {
  color: $black;
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
}

.san-serif-title {
  @include default-title();
  font-family: 'Noto Sans';
}

.serif-title {
  @include default-title();
  font-family: 'Merryweather';
}
