@import 'ui/styles/variables';

.header-profile-tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid $white;
  padding-left: 30px;
  cursor: pointer;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 22px;

    & span {
      font-size: 16px;
      color: $white;

      &:first-child {
        margin-bottom: 6px;
      }
    }
  }
}

.header-profile-tab-content {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-radius: $border-radius;
  padding: 8px;
  z-index: 5;
  box-shadow: 0px 9px 44px rgba(0, 0, 0, 0.071);

  & > div {
    width: 100%;
    padding: 24px 16px;
    border-bottom: 1px solid $clear-gray;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      transition: 0.2s;
      background-color: rgba(0, 0, 0, 0.1);

      & > span {
        color: $primary;
      }
    }

    & > span {
      font-size: 18px;
    }
  }
}

.header-user-icon {
  & svg {
    fill: $white;
  }
}

@media (max-width: 950px) {
  .header-profile-tab-container {
    & > div:first-child {
      display: none;
    }
  }

  .header-user-icon {
    margin-right: 0;

    & svg {
      width: 45px;
      height: 45px;
    }
  }

  .header-profile-tab-container {
    padding-left: 15px;
  }

  .profile-tab-drop {
    & > .dropbox-button {
      padding-right: 0;
    }
  }
}
