@import 'app-styles/variables.scss';

@mixin flex-mixin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.register-user-type-container {
  width: 80%;
  margin-bottom: 80px;
  @include flex-mixin();
}

.register-user-type-title-container {
  @include flex-mixin();

  & > h1 {
    margin-bottom: 15px;
  }

  & > span {
    font-size: 25px;
  }
}

.register-user-type-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0;

  & > span {
    font-size: 25px;
    line-height: 28px;
    max-width: 70%;
    text-align: right;
    margin-left: 60px;
  }
}

.register-user-type-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & button:first-child {
    padding: 12px 40px;
  }

  & svg {
    fill: $white;
  }
}

.register-user-type-icon {
  & svg {
    width: 130px;
    height: 130px;
    fill: $primary;
  }
}

@media (max-width: 700px) {
  .register-user-type-content {
    flex-direction: column;
    align-items: center;
    width: 100%;

    & > span {
      margin-top: 50px;
      margin-left: 0;
      text-align: center;
    }
  }

  .register-user-type-container {
    & > button {
      width: 100%;
    }
  }

  .register-user-type-title-container {
    align-self: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 420px) {
  .register-user-type-title-container {
    & > h1 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 26px;
    }

    & > span {
      font-size: 22px;
    }
  }

  .register-user-type-container {
    width: 90%;
  }
}
