@mixin flex-mixin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.register-password-form-container {
  width: 80%;
  @include flex-mixin();
}

.register-password-form-title-container {
  @include flex-mixin();

  & > h1 {
    margin-bottom: 15px;
  }

  & > span {
    font-size: 25px;
  }
}

.register-password-form-body-container {
  width: 60%;
  margin: 80px 0;
}

.register-password-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .register-password-form-body-container {
    width: 100%;
  }

  .register-password-form-buttons-container {
    width: 100%;
    max-width: 100%;

    & > button {
      width: 45%;
    }
  }

  .register-password-form-title-container {
    & > h1 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 32px;
    }

    & > span {
      font-size: 24px;
      text-align: right;
    }
  }
}

@media (max-width: 500px) {
  .register-password-form-title-container {
    & > h1 {
      margin-top: 15px;
      margin-bottom: 0;
      font-size: 28px;
    }

    & > span {
      font-size: 22px;
      text-align: right;
    }
  }
}
