@mixin flex-mixin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.register-main-form-container {
  width: 80%;
  @include flex-mixin();
}

.register-main-form-title-container {
  @include flex-mixin();

  & > h1 {
    margin-bottom: 15px;
  }

  & > span {
    font-size: 25px;
  }
}

.register-main-form-body-container {
  width: 60%;
  margin: 80px 0;
}

.register-main-form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
