@import 'app-styles/variables.scss';

.profile-account-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  border-radius: $border-radius;
  padding: 35px;
  margin-bottom: 50px;

  & span {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  & .profile-account-card-text--highlight {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: $primary;
  }

  & > .profile-account-card-info-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    & > .profile-account-card-text--light {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: $gray;
      margin-left: 20px;
    }

    & > .profile-account-card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 25px 20px;
      border-top: 1px solid $light-gray;
      margin: 22px 0;

      & > span {
        margin-bottom: 16px;
      }
    }
  }

  & > .profile-account-card-right-content {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    & button {
      width: 70%;

      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 850px) {
  .profile-account-card-container {
    height: auto;
    flex-direction: column;
    padding: 30px 20px;

    & span {
      font-size: 18px;
      line-height: 20px;
    }

    & .profile-account-card-text--highlight {
      font-size: 18px;
      line-height: 22px;
    }

    & > .profile-account-card-info-container {
      width: 100%;

      & > .profile-account-card-text--light {
        font-size: 18px;
        line-height: 20px;
        margin-left: 20px;
      }

      & > .profile-account-card-content {
        padding: 25px 20px;
        margin: 22px 0;

        & > span {
          margin-bottom: 16px;
        }
      }
    }

    & > .profile-account-card-right-content {
      width: 100%;
      display: flex;

      & button {
        width: 100%;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }
}
