@import 'app-styles/variables.scss';

.private-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: auto;
  height: calc(100vh - 80px);
  overflow-x: hidden;

  & > div:first-child {
    flex: 1;
  }
}

@media (max-width: 780px) {
  .private-page {
    padding: 16px;
  }
}
