@import 'app-styles/variables.scss';

.password-edit-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & > h1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: $gray;
    margin-bottom: 25px;
  }

  & > .password-edit-form-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & > .password-edit-form-wrapper {
      width: 50%;
    }

    & > .password-edit-form-buttons-container {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      & button {
        width: 100%;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .password-edit-form-container {
    & > .password-edit-form-content {
      flex-direction: column;

      & > .password-edit-form-wrapper {
        width: 100%;
      }

      & > .password-edit-form-buttons-container {
        width: 100%;

        & > .password-edit-form-update-buttons {
          margin-top: 35px;
        }
      }
    }
  }
}
