@import 'app-styles/variables.scss';

@mixin content-mixin {
  width: 100%;
  display: flex;
  justify-content: center;
  transform-origin: top;
  transform: scaleY(0);
  padding: 4px 0 15px 0;
  position: relative;
}

@mixin header-mixin {
  width: 100%;
  border: 1px solid $primary;
  margin-bottom: 20px;
  border-radius: $border-radius;
}

@mixin drop-arrow-mixin {
  transition: 0.3s;

  & svg {
    width: 28px;
    height: 28px;
    fill: $gray;
    cursor: pointer;
  }
}

@mixin flex-mixin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-group-container {
  width: 100%;
  @include flex-mixin();
  flex-direction: column;
  margin-bottom: 50px;
}

.media-group-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 16px 30px;
  padding-bottom: 30px;
  border-radius: $border-radius;
  border-bottom: 2px solid $clear-gray;
  margin-bottom: 30px;

  & > div {
    &:first-child {
      @include flex-mixin();
      width: fit-content;

      & > span {
        font-size: 28px;
        font-weight: bold;
        margin-left: 20px;
      }
    }

    &:last-child {
      width: fit-content;
      @include flex-mixin();
    }
  }
}

.media-group-header-icon {
  & svg {
    width: 50px;
    height: 50px;
    fill: $primary;
  }
}

.media-group-content {
  @include content-mixin();
  transition: transform 0.2s ease;
  transform: scaleY(1);
}

.media-group-arrow-down {
  @include drop-arrow-mixin();
}

.media-group-arrow-up {
  @include drop-arrow-mixin();
  transform: rotate(-180deg);
}

.media-group-header-add-media-button {
  @include flex-mixin();
  padding: 16px 24px;
  font-size: 26px;
}

.media-group-header-add-media-icon {
  & svg {
    width: 22px;
    height: 22px;
    fill: $white;
    margin-left: 16px;
  }
}

@media (max-width: 700px) {
  .media-group-header-add-media-button {
    .media-group-header-add-text {
      display: none;
    }
    svg {
      margin: 0;
    }
  }
}

@media (max-width: 400px) {
  .media-group-header {
    padding: 16px 0;
  }
}