@import 'app-styles/variables.scss';

.crypto-password-validation-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  & > h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
  }

  & > span {
    font-size: 22px;
    line-height: 26px;
  }

  & > .crypto-password-validation-error-message {
    color: $red;
    font-size: 20px;
    line-height: 22px;
    margin-top: 45px;
  }
}