@import 'app-styles/variables.scss';

.input-file-name {
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
  color: $primary-light;
}
