.form-common {
  margin-top: 30px;
}

.form-body {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  min-width: 288px;
  align-items: flex-start;
}

.form-buttons {
  display: flex;
  margin-top: 25px;
}
