.create-owner-modal-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;

  & > h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  & > span {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 26px;
  }

  & > .create-owner-modal-form {
    width: 100%;
    margin-top: 0;

    & > div {
      padding-bottom: 0;
    }

    & .create-owner-modal-buttons-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & button {
        font-size: 18px;
        padding: 14px 40px;
      }
    }
  }
}

@media (max-width: 650px) {
  .create-owner-modal-container {
    width: 100%;
  }
}
